.dig-date-picker-calendar-only-year {
  font-size: 12px;

   .dig-date-picker-calendar-week-title {
    @include clearfix();
    @extend %dig-font-weight-medium;
    color: fade($date-picker-calendar-text-color, 50%);
    
    line-height: 0px;
    padding: 0 14px;
  }

  .dig-date-picker-calendar-week-title-year {
    list-style: none;
    float: left;
    width: $calendar-year-button-size;
    text-align: center;
    margin: 0 2px;
  }

  .dig-date-picker-calendar-container-year {
    @include ease-out($property: "height", $duration: 150ms);
  }

  &.dig-is-4week {
    .dig-date-picker-calendar-container-year {
      height: 228px;
    }
  }

  &.dig-is-5week {
    .dig-date-picker-calendar-container-year {
      height: 268px;
    }
  } 

  &.dig-is-6week {
    .dig-date-picker-calendar-container-year {
      height: 308px;
    }
  }
}

.dig-is-landscape {
  .dig-date-picker-calendar {
    @include clearfix();
  }

  .dig-date-picker-calendar-year-display {
    width: 268px;
    height: 100%;
    float: left;
  }

  .dig-date-picker-calendar-container-year {
    width: 268px;
    float: right;
  }
}