.dig-date-picker-dialog {
  font-size: 14px;
  color: $date-picker-calendar-text-color;

  .dig-date-picker-dialog-window {
    &.dig-dialog-window-contents {
      width: 280px;
    }
  }

  .dig-date-picker-dialog-window-month {
    &.dig-dialog-window-contents {
      width: 236px;
    }
  }

  .dig-date-picker-dialog-window-year {
    &.dig-dialog-window-contents {
      width: 268px;
    }
  }
}

.dig-is-landscape {
  .dig-date-picker-dialog-window {
    &.dig-dialog-window-contents {
      width: 560px;
    }
  }
}