.dig-date-picker-month-display {
  text-align: center;
  position: relative;

  .dig-date-picker-month-display-date {
    padding: 16px 0;
    background-color: $date-picker-color;
    color: $date-picker-text-color;
  }

  .dig-date-picker-month-display-year {
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    text-transform: uppercase;
  }

  .dig-date-picker-month-display-month {
    margin: 6px 0;
    line-height: 58px;
    height: 58px;
    font-size: 58px;
    text-transform: uppercase;
  }

  .dig-date-picker-month-display-year {
    color: lighten($date-picker-text-color, 70%);
  }
}

.dig-is-landscape {

  .dig-date-picker-month-display {
    * { @include ease-out(); }
  }

  .dig-date-picker-month-display-date {
    padding: 24px 0;
  }

  .dig-date-picker-month-display-month {
    font-size: 76px;
    line-height: 76px;
    height: 76px;
  }

  .dig-date-picker-month-display-year {
     font-size: 26px;
     line-height: 26px;
     height: 26px;
  }
}