.dig-date-picker-month-button {
  position: relative;
  float: left;
  width: $calendar-month-button-size + 4px;
  padding: 4px 2px;

  .dig-date-picker-month-button-select {
    position: absolute;
    background-color: $date-picker-select-color;
    height: $calendar-month-button-size;
    width: $calendar-month-button-size;
    @include ease-out();
    opacity: 0;
    border-radius: 50%;
    transform: scale(0);
  }

  .dig-date-picker-month-button-label {
    position: relative;
  }

  &.dig-is-selected {
    .dig-date-picker-month-button-label {
      color: $date-picker-select-text-color;
    }
    .dig-date-picker-month-button-select {
      opacity: 1;
      transform: scale(1);
    }
  }

  &.dig-is-current-month {
    color: $date-picker-color;
  }
}