.dig-date-picker-year-display {
  text-align: center;
  position: relative;

  .dig-date-picker-year-display-date {
    padding: 16px 0;
    background-color: $date-picker-color;
    color: $date-picker-text-color;
  }

  .dig-date-picker-year-display-year {
    margin: 6px 0;
    line-height: 58px;
    height: 58px;
    font-size: 58px;
    text-transform: uppercase;
  }
}

.dig-is-landscape {

  .dig-date-picker-year-display {
    * { @include ease-out(); }
  }

  .dig-date-picker-year-display-date {
    padding: 24px 0;
  }

  .dig-date-picker-year-display-year {
    font-size: 76px;
    line-height: 76px;
    height: 76px;
  }
}