.dig-date-picker-calendar-year {

  line-height: $calendar-year-button-size;
  text-align: center;
  padding: 8px 14px 0 14px;
  background-color: $white;

  .dig-date-picker-calendar-year-week {
    @include clearfix();
  }
}