.dig-message {
  font-size: 12px;
  position: fixed;
  z-index: $zindex-message;
  width: 100%;
  top: 16px;
  left: 0;
}
.dig-message-notice {
  width: auto;
  vertical-align: middle;
  position: absolute;
  left: 50%;
}
.dig-message-notice-content {
  position: relative;
  right: 50%;
  padding: 8px 16px;
  border-radius: 2px;
  border: 1px solid $border-color-base;
  box-shadow: $box-shadow-base;
  background: #fff;
  display: block;
}
.dig-message-success.dig-font-icon {
  color: $success-color;
}
.dig-message-error.dig-font-icon {
  color: $error-color;
}
.dig-message-warn.dig-font-icon {
  color: $warning-color;
}
.dig-message-info.dig-font-icon,
.dig-message-loading.dig-font-icon {
  color: $primary-1-color;
}
.dig-message .dig-font-icon {
  margin-right: 8px;
  font-size: 18px;
  top: 4px;
  position: relative;
}