.dig-radio-button {
  .dig-radio-button-icon {
    $radio-button-size: 24px;

    height: $radio-button-size;
    width: $radio-button-size;
    margin-right: $desktop-gutter-less;


    .dig-radio-button-fill {
      position: absolute;
      opacity: 0;
      transform: scale(0);
      transform-origin: 50% 50%;
      @include ease-out();
      * { fill: $radio-button-checked-color; }
    }

    .dig-radio-button-target {
      @include ease-out();
      position: absolute;
      opacity: 1;
      transform: scale(1);
      * {
        fill: $radio-button-border-color;
        @include ease-out($duration: 2s, $delay: 200ms);
      }
    }
  }

  &.dig-direction-row {
    width: 120px;
  }
  &.dig-direction-column {
    width: 100%;
  }

  
  &.dig-is-switched {
    .dig-radio-button-icon {
      .dig-radio-button-fill {
        opacity: 1;
        transform: scale(1);
      }

      .dig-radio-button-target {
        opacity: 0;
        transform: scale(0);
        * {
          fill: $radio-button-checked-color;
          @include ease-out($duration: 100s, $delay: 0ms);
        }
      }
    }
  }

  &.dig-is-disabled {
    .dig-radio-button-icon {
      .dig-radio-button-fill,
      .dig-radio-button-target {
        * { fill: $radio-button-disabled-color; }
      }
    }
  }

  &.dig-is-required {
    .dig-radio-button-icon {
      .dig-radio-button-target {
        * { fill: $radio-button-required-color; }
      }
    }
  }
}


