.dig-menu {

  * {@include ease-out(); }

  background-color: $menu-background-color;

  &.dig-menu-hideable {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;

    .dig-paper-container {
      overflow: hidden;
      padding: 0;
    }

    &.dig-visible {
      & > .dig-paper-container {
        padding-top: $desktop-gutter-mini;
        padding-bottom: $desktop-gutter-mini;
      }
    }
  }

  .dig-paper-container {
    padding-top: $desktop-gutter-mini;
    padding-bottom: $desktop-gutter-mini;
  }

  .dig-subheader {
    padding-left: $menu-subheader-padding;
    padding-right: $menu-subheader-padding;
  }

  .dig-nested-menu-item {
    position: relative;

    &.dig-is-disabled {
      color: $disabled-color;
      cursor: default;
    }

    &.dig-open {
      & > .dig-menu {
        opacity: 1;
      }
    }
  }
}
