//** Popover body background color
$popover-bg:                          #fff;
//** Popover maximum width
$popover-min-width:                   177px;
//** Popover border color
$popover-border-color:                $border-color-base;

//** Popover arrow width
$popover-arrow-width:                 4px;

//** Popover arrow color
$popover-arrow-color:                 $popover-bg;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1);
//** Popover outer arrow color
$popover-arrow-outer-color:           opacify($popover-border-color, 0.05);

.dig-popover{
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-popover;
  cursor: auto;
  user-select: text;
  white-space: normal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: normal;
  text-align: left;

  &:after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.01);
  }
}

.dig-popover-hidden {
  display: none;
}

.dig-popover-placement-top,
.dig-popover-placement-topLeft,
.dig-popover-placement-topRight {
  padding-bottom: $popover-arrow-width;
}
.dig-popover-placement-right,
.dig-popover-placement-rightTop,
.dig-popover-placement-rightBottom {
  padding-left: $popover-arrow-width;
}
.dig-popover-placement-bottom,
.dig-popover-placement-bottomLeft,
.dig-popover-placement-bottomRight {
  padding-top: $popover-arrow-width;
}
.dig-popover-placement-left,
.dig-popover-placement-leftTop,
.dig-popover-placement-leftBottom {
  padding-right: $popover-arrow-width;
}

.dig-popover-inner {
  min-width: $popover-min-width;
  background-color: $popover-bg;
  background-clip: padding-box;
  border: 1px solid $popover-border-color;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-base;
}
.dig-popover-title {
  margin: 0; // reset heading margin
  padding: 0 16px;
  line-height: 32px;
  height: 32px;
  border-bottom: 1px solid $border-color-split;
  color: #666;
}
.dig-popover-inner-content {
  padding: 8px 16px;
  color: $text-color;
}

.dig-popover-message {
  padding: 8px 0 16px;
  font-size: 12px;
  color: $text-color;
  > .dig-font-icon {
    color: $warning-color;
    line-height: 17px;
    position: absolute;
    font-size: 17px;
  }
}

.dig-popover-message-title {
  padding-left: 20px;
}

.dig-popover-buttons {
  text-align: right;
  margin-bottom: 8px;
  .dig-raised-button {
    margin-left: 8px;
  }
}

.dig-popover-arrow,
.dig-popover-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.dig-popover-arrow {
  border-width: $popover-arrow-outer-width;
}
.dig-popover-arrow:after {
  border-width: $popover-arrow-width;
  content: "";
}

.dig-popover-placement-top,
.dig-popover-placement-topLeft,
.dig-popover-placement-topRight{
  .dig-popover-arrow {
    border-bottom-width: 0;
    border-top-color: $popover-arrow-outer-color;
    bottom: 0;
    &:after {
      content: " ";
      bottom: 1px;
      margin-left: -$popover-arrow-width;
      border-bottom-width: 0;
      border-top-color: $popover-arrow-color;
    }
  }
}

.dig-popover-placement-top .dig-popover-arrow {
  left: 50%;
  margin-left: -$popover-arrow-outer-width;
}
.dig-popover-placement-topLeft .dig-popover-arrow {
  left: 16px;
}
.dig-popover-placement-topRight .dig-popover-arrow {
  right: 16px;
}

.dig-popover-placement-right,
.dig-popover-placement-rightTop,
.dig-popover-placement-rightBottom {
  .dig-popover-arrow{
    left: 0;
    border-left-width: 0;
    border-right-color: $popover-arrow-outer-color;
    &:after {
      content: " ";
      left: 1px;
      bottom: -$popover-arrow-width;
      border-left-width: 0;
      border-right-color: $popover-arrow-color;
    }
  }
}

.dig-popover-placement-right .dig-popover-arrow {
  top: 50%;
  margin-top: -$popover-arrow-outer-width;
}
.dig-popover-placement-rightTop .dig-popover-arrow {
  top: 12px;
}
.dig-popover-placement-rightBottom .dig-popover-arrow {
  bottom: 12px;
}


.dig-popover-placement-bottom,
.dig-popover-placement-bottomLeft,
.dig-popover-placement-bottomRight {
  .dig-popover-arrow{
    border-top-width: 0;
    border-bottom-color: $popover-arrow-outer-color;
    top: 0;
    &:after {
      content: " ";
      top: 1px;
      margin-left: -$popover-arrow-width;
      border-top-width: 0;
      border-bottom-color: $popover-arrow-color;
    }
  }
}

.dig-popover-placement-bottom .dig-popover-arrow {
  left: 50%;
  margin-left: -$popover-arrow-outer-width;
}
.dig-popover-placement-bottomLeft .dig-popover-arrow {
  left: 16px;
}
.dig-popover-placement-bottomRight .dig-popover-arrow {
  right: 16px;
}


.dig-popover-placement-left ,
.dig-popover-placement-leftTop,
.dig-popover-placement-leftBottom {
  .dig-popover-arrow{
    right: 0;
    border-right-width: 0;
    border-left-color: $popover-arrow-outer-color;
    &:after {
      content: " ";
      right: 1px;
      border-right-width: 0;
      border-left-color: $popover-arrow-color;
      bottom: -$popover-arrow-width;
    }
  }
}

.dig-popover-placement-left .dig-popover-arrow {
  top: 50%;
  margin-top: -$popover-arrow-outer-width
}
.dig-popover-placement-leftTop .dig-popover-arrow {
  top: 12px;
}
.dig-popover-placement-leftBottom .dig-popover-arrow {
  bottom: 12px;
}