.dig-font-icon {
    position: relative;
    font-size: $icon-size;
    display: inline-block;
    user-select: none;

    &.mid-size {
    	font-size: $icon-size * 1.5;
    }

  &.min-size {
	font-size: $icon-size * 0.8;
  }


  .dig-font-counts {
    	width: 20px;
    	height: 20px;
  		position: absolute;
	    color: $white;
	    font-style: normal;
	    background: #f44336;
	    border-radius: 50%;
	    right: -7px;
	    top: -5px;
	    font-size: 10px;
    }
}
