.dig-progress {
  &.dig-progress-line-wrap,
  &.dig-progress-circle-wrap {
    display: inline-block;
  }
  &.dig-progress-line-wrap {
    width: 100%;
    font-size: 12px;
    position: relative;
  }
  .dig-progress-line-outer {
    margin-right: 45px;
  }
  &.dig-progress-line-wrap-full {
    .dig-progress-line-outer {
      margin-right: 0;
    }
  }
  .dig-progress-line-inner {
    display: inline-block;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 100px;
  }
  .dig-progress-line-bg {
    border-radius: 100px;
    background-color: $primary-1-color;
    transition: all 0.3s linear 0s;
    position: relative;
  }
  .dig-progress-line-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    text-align: left;
    font-size: 1em;
    margin-left: 10px;

    .dig-font-icon {
      font-weight: bold;
      font-size: 14px;
    }
  }
  &.dig-progress-line-wrap.status-active {
    .dig-progress-line-bg:before {
      content: "";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      border-radius: 10px;
      animation: progress-active 2s ease infinite;
    }
  }
  &.dig-progress-line-wrap.status-exception {
    .dig-progress-line-bg {
      background-color: $error-color;
    }
    .dig-progress-line-text {
      color: $error-color;
    }
  }
  &.dig-progress-line-wrap.status-success {
    .dig-progress-line-bg {
      background-color: $success-color;
    }
    .dig-progress-line-text {
      color: $success-color;
    }
  }

  .dig-progress-circle-inner {
    position: relative;
    line-height: 1;
  }
  .dig-progress-circle-text {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    .dig-font-icon {
      font-size: 1.6em;
    }
  }
  &.dig-progress-circle-wrap.status-exception {
    .dig-progress-circle-text {
      color: $error-color;
    }
  }
  &.dig-progress-circle-wrap.status-success {
    .dig-progress-circle-text {
      color: $success-color;
    }
  }
}

@keyframes progress-active {
  0% {
    opacity: .3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
