.dig-tab-selector {
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    cursor: pointer;
    float: left;
    padding: 5px 15px;
    border: 1px solid #ddd;
    list-style: none;

    &.dig-is-selected {
      // border-color: #2175bc;
      // background-color: #2175bc;
      border-color: $primary-1-color;
      background-color: $primary-1-color;
      color: #fff;
    }
  }
}