.dig-table { 
    margin-bottom: 20px;
    text-align: left;
    //font-weight: bold;

    &.dig-has-border{
      border: 1px solid $table-border-color;
    }

  th {
    //font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
    color: $black;
    &.dig-has-border{
      border: 1px solid $table-border-color;
    }
    &.dig-has-header-background{
      background: $table-header-background-color;
      color: $white;
    }
    &.reactable-header-sortable {
      cursor: pointer;
    }
    &.reactable-header-sort-desc {

      &:after {
        content: '\25B2';
        font-size: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
      }
    }
    &.reactable-header-sort-asc {

      &:after {
        content: '\25BC';
        font-size: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
      }
    }
   }

  td {
    padding: 5px 10px;
    &.dig-has-border{
      border: 1px solid $table-border-color;
    }
   }

  tr{
    &:hover {
      background-color: $table-row-hover-color;
    }
    &.reactable-filterer {
      width: 100%;
      td {
          width: 100%;
        }
    }
  }

  form {
    background: #f2f2f2;
    padding: 20px;
  }

  .reactable-page-button {
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: 6px;
    padding: 3px;
    width: 30px;
    float: left;
    cursor: pointer;
    color: #000;
    border: 1px solid $table-primary-color;
    background-color: #EEE;
    text-align: center;
    border-radius: 5px;

    &:hover {
      text-decoration: none;
      color: #333;
      background-color: #DDD;
    }
  }

  .reactable-current-page {
    background-color: #DDD;
    cursor: default;
  }


  .reactable-filter-input {
    width: 95%;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid $table-primary-color;
  }
}
