$timeline-color: $border-color-split;

.dig-timeline {
  .dig-timeline-item {
    position: relative;
    padding-bottom: 12px;

    .dig-timeline-item-tail {
      position: absolute;
      left: 5px;
      top: 0;
      height: 100%;
      border-left: 2px solid $timeline-color;
    }

    &.dig-timeline-item-pending {
      .dig-timeline-item-tail{
        display: none;
      }
    }

    .dig-timeline-item-head {
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: #fff;
      border-radius: 100px;
      &.dig-timeline-item-head-primary {
        border: 2px solid $primary-1-color;
      }
      &.dig-timeline-item-head-red {
        border: 2px solid $error-color;
      }
      &.dig-timeline-item-head-green {
        border: 2px solid $success-color;
      }
      &.dig-timeline-item-head-normal {
        border: 2px solid $grey-500;
      }
    }

    .dig-timeline-item-content {
      padding: 0 0 10px 24px;
      font-size: 12px;
      position: relative;
      top: -3px;

      p {
        font-size: 12px;
        line-height: normal;
        margin: 0;
        padding-top: 0;
      }
    }

    &.dig-timeline-item-last {
      .dig-timeline-item-tail {
        border-left: 2px dotted $timeline-color;
        display: none;
      }
      .dig-timeline-item-content {
        min-height: 48px;
      }
    }
  }

  &.dig-timeline-pending {
    .dig-timeline-item-last{
      .dig-timeline-item-tail{
        display: block;
      }
    }
  }
}
